.auth-card {
  margin-bottom: 50px;
  margin-top: 50px;
  // shrink the login from from stretching all columns 
  margin-left: 200px;
  margin-right: 200px;
  ////////////////////
  padding: 30px;

  h1 {
    text-align: center;  
  }
}
